{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - About {% endblock %}

{% block body %}

    <div class="container">
        <h2>Contact...</h2>
        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
        <dotlottie-player src="https://lottie.host/3f3d11b4-5d26-4ac9-941a-b72f42ee89be/GVP6olPOUP.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
        <p>
            Pour nous contacter........
        </p>

    </div>

{% endblock %}
