{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Contact {% endblock %}

{% block body %}

    <div class="container">
        <h2>
            Contact...
        </h2>

    </div>

{% endblock %}
