{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}

    <div class="container-xl home-cont">
        <dotlottie-player
                src="https://lottie.host/e8fb551e-d109-42bb-b9d7-ceabf4b38f96/nHepPgln99.lottie"
                background="transparent"
                speed="1"
                style="width: 300px; height: 300px; margin: 0 auto;"
                loop
                autoplay
        >
        </dotlottie-player>


        <h1>Hello {{ user }}!</h1>

        <p>
            Vous êtes sur le site {{ site_name }} !
        </p>

        <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>

    </div>

{% endblock %}
