<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket List{% endblock %}</title>
    <link rel="icon"
          href="{{ asset("images/favicon.png") }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{# Le header et le footer sont visibles sur chaque page de l'app #}
<header>
    {% include 'partials/_header.html.twig' %}
</header>

{# Le block body ci-dessous sera remplacé par les mêmes blocks des autres pages #}
<main>
    {% block body %}


    {% endblock %}
</main>

<footer>
    {% include 'partials/_footer.html.twig' %}
</footer>
</body>
</html>
